html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-header {
  margin:0px;
  padding-top: 40px;
  text-align: center;
}
#subheading {
  font-weight: 200;
  color: silver;
  font-size:20px;
}

ol, ul {
  margin-top: 14px;
}

li {
	list-style: none;
  background-color: black;
  color: lightgrey;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px
}

#map {
    height: 300px;
}
#cityTitle {
  font-weight: bold;
}
#marsTitle {
  font-weight: bold;
}
