html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a6ff9b;
}
ol, ul {
  margin-top: 14px;
}

li {
	list-style: none;
  background-color: black;
  color: #fff49b;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px
}

#map {
    height: 300px;
}
